/* * {
  box-sizing: border-box;
  https://cdn.pixabay.com/photo/2017/09/07/08/53/money-2724235_960_720.jpg
  
} */

html {
  font-size: 10px;
  background-color: #e7e9f3;
  background-size: cover;
  background-repeat: no-repeat repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

html,
body {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #534f93;
}

h1,
h3,
ul {
  margin: 0;
  padding: 0;
}

.head {
  /* background-color: blanchedalmond; */
  color: s #534f93;

  margin: 0 auto;
  padding: 20px 0;
  font-size: 2em;
}

.inputBar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

input[type="text"],
select {
  width: 250px;
  padding: 12px 20px;
  font-size: 25px;
  color: #534f93;

  margin: 8px 6px;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: none;
}
select-hide {
  display: none;
}

.btn {
  /* border: 0.4rem solid black; */
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.5rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(152, 180, 240, 0.63);
  text-shadow: 0 0 0.5rem black;
  cursor: pointer;
  max-height: 30px;
}

.container {
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-columns: 1fr 1fr;
}

.inExGrid {
  display: grid;
  grid-template-rows: min-content 1fr;
}

.income {
  background: #8afec3;
}

.expense {
  background: #fc726b;
}

.amount-removeBtn {
  display: flex;
  justify-content: space-between;
}

h2 {
  margin: 5px 0;
}

ul {
  border-bottom: rgb(0, 0, 0, 0.4) 5px solid;
}

.list {
  list-style-type: none;
  font-size: 25px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 1.5rem;
  background: rgba(225, 225, 225, 0.8);
  margin: 0 10px 5px;
  padding: 2px 0;
  overflow: hidden;
}

.itemName {
  margin-top: 12px;
}

.itemName span {
  font-weight: bold;
}

.itemAmount {
  margin-bottom: 10px;
}

.listBtn {
  background-color: #84a8bc;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 11px;
  font-weight: bold;
}

.balance {
  background: #cbc8f3;
  color: white;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 50px;
  font-style: italic;
  font-size: 2rem;
  color: black;
  margin-top: 20px;
  max-width: 300px;
  padding: 20px 30px;
  grid-column: 1 / span 3;
  justify-self: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .container {
    display: block;
  }
}
