/* * {
  box-sizing: border-box;
  https://cdn.pixabay.com/photo/2017/09/07/08/53/money-2724235_960_720.jpg
  
} */

html {
  font-size: 10px;
  background: url(https://cdn.pixabay.com/photo/2017/04/25/09/15/cash-2259076_960_720.jpg)
    center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
}

html,
body {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1,
h3,
ul {
  margin: 0;
  padding: 0;
}

.head {
  /* background-color: blanchedalmond; */
  color: black;
  margin: 0 auto;
  padding: 20px 0;
}

.inputBar {
  /* background: rgb(137, 2, 150); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

input[type="text"],
select {
  width: 250px;
  padding: 12px 20px;
  font-size: 25px;
  color: black;
  margin: 8px 6px;
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.btn {
  /* border: 0.4rem solid black; */
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.5rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(152, 180, 240, 0.63);
  text-shadow: 0 0 0.5rem black;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.income {
  background: rgb(96, 221, 96);
  display: grid;
}

.expense {
  background: rgb(235, 87, 87);
  display: grid;
}

h2 {
  margin: 5px 0;
}

ul {
  border-bottom: rgb(0, 0, 0) 5px solid;
}

.list {
  list-style-type: none;
  font-size: 25px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  border: white solid 2px;
  border-radius: 0.5rem;
  background: rgba(225, 225, 225, 0.8);
  margin: 0 10px 5px;
  padding: 2px 0;
}

.listBtn {
  background-color: #84a8bc;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 11px;
  font-weight: bold;
}

.balance {
  background: none;
  color: white;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 50px;
  font-style: italic;
  font-size: 2rem;
  color: black;
}

@media only screen and (max-width: 600px) {
  .container {
    display: block;
  }
}
/* .btn {
  background-color: #84a8bc;
  border: none;
  color: white;
  padding: 16px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 11px;
  font-weight: bold;
  font-size: 20px;
} */
